<footer class="content">

    <div class="contact">
        <p>Copyright © 2015 Zach O'Sullivan. All Rights Reserved.</p>
        <p><a href="mailto:zachobennett@gmail.com">Contact Email</a></p>
    </div>

</footer>