<!doctype html>
<html>
	<head>
        <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
        
        <script>
            <%
                if(user)
                {%>
                   var loggedUser = '<%- user.username %>'; 
                <%}
                else
                {%>
                   var loggedUser = null;
                <%}
            %>
                    
                var thoseLevels = [];
                thoseLevels = <%-JSON.stringify(gameLevels)%>
        </script>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="javascripts/bootstrap.min.js"></script>
        <script src="http://code.createjs.com/createjs-2013.12.12.min.js"></script>
        <script src="assets/ndgmr.Collision.js"></script>
		<script src="javascripts/game.js"></script>
        

        </script>
		<title>Level Creator</title>
	</head>
	<body>
        
        <div class="content">
        
            <% include ../partials/header.ejs %>
        
            <center class="game content">
                <div id="gameTest"></div>
            </center>

            <% include ../partials/footer.ejs %>
            
        </div>
        
        
	</body>
</html>