<!doctype html>
<html>
	<head>
        <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="javascripts/bootstrap.min.js"></script>
	</head>
    
	<body>
        
        <% include ../partials/header.ejs %>

        <% include ../partials/userPrint.ejs %>

        <% include ../partials/levelPrint.ejs %>

        <% include ../partials/footer.ejs %>
        
        <% levelTimes%>
        
	</body>
    
</html>