<html>
	<head>
		<title>Level Creator</title>
        <style>
            body
            {
                background-color: #999999;
            }
        </style>
	</head>
	<body>
        
        <% include ../partials/userPrint.ejs %>
        
        <% include ../partials/levelPrint.ejs %>
        
        <%= test%>
        
	</body>
</html>