<!doctype html>
<html>
	<head>
        <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="javascripts/bootstrap.min.js"></script>
	</head>
    
	<body>
        <div class="content">
            <% include ../partials/header.ejs %>

            <div class="container">
                <form action="/signup" method="POST" class="form-signin">
                    <input type="text" name="username" placeholder="Username" class="form-control" required autofocus />
                    <input type="password" name="password" placeholder="Password" class="form-control" required autofocus />
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button>
                </form>
                <a href="/login" class="text-center new-account">Login</a>

            </div>
            <div id="message"></div>

            <% include ../partials/footer.ejs %>
        </div>
	</body>
    
</html>